* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: coral;
}

h1 {
    text-align: center;
    padding: 15px;
}
h3 {
    text-align: center;
    color: white;
    padding: 50px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #ff926b;
  }

  #search-bar{
    padding: 20px;
    text-align: center;
  }
  #search-bar input{
    width: 600px;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
  }
  .btnforsearch {
    height: 40px;
    width: 100px;
  }


  #show-most-liked {
    text-align: center;
    position: absolute;
    top: 25px;
    left: 46%;
  }
  #show-most-liked button {
    margin-top: 30px;
  }

  .title {
    font-size: 4mm;
    width: 300px;
    height: 70px;
    padding: 0;
  }

  .titlebook {
    width: 500px;
    
  }

  .imagebooks {
    width: 100px;
    height: 200px;
  }

  #tableforbook {
    position: absolute;
    left: 19%;
  }

  .like-btn {
    width: 40px;
    height: 30px;
    left: 50px;
    margin-left: 50px;
  }