{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Naufal's Story 9</title>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
    </head>
    <body>
        <h1>Ajax API Story 9</h1>
        <form id="searchform">
            <div id="search-bar">
                <input type="text" id="books" placeholder="Search books....">
                <br>
                <button class="btnforsearch">Search Books</button>
            </div>
        </form>
        <table id="tableforbook">
            <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Like</th>
            </tr>
        </table>
        <div id="show-most-liked">
            <button type="button" onclick="a()">Show Most Liked</button>
        </div>
    </body>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/style.js' %}"></script>
</html>